html {
  background-color: #e2e2e2;

  font-family: sans-serif;
}

.polaroid {
  margin: 0;
  padding: 10px;
  width: 250px;

  background-color: #fff;
  border-radius: 4px;
  box-shadow: 1px 4px 6px rgba(0, 0, 0, .5);
  position: absolute;
  left: 17em;
  top: 12em;
  transition: all 150ms linear;
}

.polaroid:nth-child(1) {
  left: 20%;
  top: 6em;
  transform: rotate(-16deg);
  z-index: 1;
}

.polaroid:nth-child(2) {
  left: 30%;
  top: 9em;
  transform: rotate(5deg);
  z-index: 3;
}

.polaroid:nth-child(3) {
  left: 40%;
  top: 6em;
  transform: rotate(30deg);
  z-index: 2;
}

.polaroid:hover {
  transform: rotate(0deg);
  box-shadow: 4px 4px 30px rgba(0, 0, 0, 1);
  z-index: 5;
}

.polaroid > img {
  display: block;
  width: 100%;
  position: relative;
}

.polaroid > figcaption {
  color: #fff;
  text-shadow: 1px 1px 3px #000;
  text-align: center;
  position: absolute;
  left: 5em;
  bottom: 1em;
}
